trying here - new server - more memory?

In [6]:
# Install package
!conda install -c anaconda sqlalchemy --y 
!pip install psycopg2-binary

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Requirement already satisfied: psycopg2-binary in /home/ubuntu/anaconda3/lib/python3.8/site-packages (2.8.6)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ubuntu/anaconda3/bin/python -m pip install --upgrade pip' command.

In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Load MIMIC database

In [8]:
!pip install elasticsearch_dsl

Requirement already satisfied: elasticsearch_dsl in /home/ubuntu/anaconda3/lib/python3.8/site-packages (7.3.0)
Requirement already satisfied: python-dateutil in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch_dsl) (2.8.1)
Requirement already satisfied: six in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch_dsl) (1.15.0)
Requirement already satisfied: elasticsearch<8.0.0,>=7.0.0 in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch_dsl) (7.9.1)
Requirement already satisfied: urllib3>=1.21.1 in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch<8.0.0,>=7.0.0->elasticsearch_dsl) (1.25.11)
Requirement already satisfied: certifi in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch<8.0.0,>=7.0.0->elasticsearch_dsl) (2020.12.5)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ubuntu/anaconda3/bin/python -m pip install --upgrade pip' command.

In [9]:
!pip install elasticutils

Requirement already satisfied: elasticutils in /home/ubuntu/anaconda3/lib/python3.8/site-packages (0.10.3)
Requirement already satisfied: elasticsearch>=1.0 in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticutils) (7.9.1)
Requirement already satisfied: six in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticutils) (1.15.0)
Requirement already satisfied: urllib3>=1.21.1 in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch>=1.0->elasticutils) (1.25.11)
Requirement already satisfied: certifi in /home/ubuntu/anaconda3/lib/python3.8/site-packages (from elasticsearch>=1.0->elasticutils) (2020.12.5)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ubuntu/anaconda3/bin/python -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import elastic_util
from elastic_util import *
from elasticsearch import Elasticsearch

ModuleNotFoundError: No module named 'elastic_util'

In [2]:
#connecting to sql for mimic

from sqlalchemy import create_engine
sql_engine = create_engine('postgresql://ckg:Admin123@10.200.106.114:5432/mimic')

In [3]:
# # Replace a SQL query
sql_query = 'select * from noteevents_new_date'

df = pd.read_sql_query(sql_query,con=sql_engine)

In [4]:
# shape of dataframe

df.shape

(2083180, 18)

In [5]:
# top 5 rows of dataframe

df.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,etl_date
0,673887,99185,143017.0,2129-06-13,2129-06-13 03:26:00,2129-06-13 04:40:47,Nursing,Nursing Progress Note,17227.0,None,Coronary artery bypass graft (CABG)\n Assess...,M,2052-07-24,NaT,NaT,NaT,0,2001-01-15 12:21:13
1,674463,74215,192707.0,2118-06-01,2118-06-01 14:46:00,2118-06-01 14:46:51,Nursing,Nursing Progress Note,21545.0,None,Subdural hemorrhage (SDH)\n Assessment:\n ...,F,2039-01-14,NaT,NaT,NaT,0,2001-01-15 12:21:13
2,674464,99185,143017.0,2129-06-15,2129-06-15 14:50:00,2129-06-15 14:50:52,Nursing,Nursing Progress Note,14606.0,None,Coronary artery bypass graft (CABG)\n Assess...,M,2052-07-24,NaT,NaT,NaT,0,2001-01-15 12:21:13
3,673132,99185,143017.0,2129-06-08,2129-06-08 06:15:00,2129-06-08 06:15:35,Nursing,Nursing Progress Note,17464.0,None,Coronary artery bypass graft (CABG)\n Assess...,M,2052-07-24,NaT,NaT,NaT,0,2001-01-15 12:21:13
4,672943,46836,199740.0,2165-04-09,2165-04-09 06:30:00,2165-04-09 06:30:57,Respiratory,Respiratory Care Shift Note,20480.0,None,Demographics\n Day of intubation:\n Day of...,M,2095-09-25,2168-02-24,NaT,2168-02-24,1,2001-01-15 12:21:13

In [6]:
# how many unique subjects

df['subject_id'].nunique()

46146

In [7]:
# create a new dataframe that only contains column text i.e. noteevents

df_notes = df[['text']]

In [8]:
# save column of text as a csv

df_notes.to_csv('NOTEEVENTS_all_text.csv', index=False)

Successfully downloaded all noteevents!